<nav>
  <% if (user) { %>
    <span id="logo">Gift List App</span>
    <a href="/groups">Your groups</a>
    <a href="/groups/new">New group</a>
  
    <div class="account">
      <a href="/logout">Log Out</a>
      <img src="<%= user.avatar %> " alt="">
    </div>
    
  <% } else { %>
    <a href="/auth/google">Login with Google</a>
  <% } %>
</nav>