<%- include('partials/header') %> 
<h1>Welcome to Gift List App</h1>
<p>Gift List App helps you coordinate gift giving. View the people in your groups gift list, claim a gift and create your own gift list.</p>

<a href="/auth/google" class="button">Login with Google </a>
<%- include('partials/footer') %> 