<form id="edit-group" class="group-form" action="/groups/<%= group._id %>?_method=PUT" method="post">
 
  <%- include('form-fields-group-name-desc', group) %> 

  <button type="submit">Update</button>

</form>