<form id="new-group" action="/groups/" method="post" class="group-form">

  <%- include('form-fields-group-name-desc', {group:[]}) %> 

  <div id="invites">
    <h3>Invite people:</h3>
    <%# Invites added via scripts.js %> 
  </div>

  <span class="add" id="add-invite">Add another email</span>

  <label for="message">Add a message to your invite</label>
  <textarea name="message" id="message" cols="30" rows="2"></textarea>

  <button type="submit">Lets go</button>
</form>