<div id="gifts-form">
  <div class="gift">
    <label class="input-sizer">
      <span>Add a gift &rarr;</span>
      <input type="text" name="gifts[0][name]" id="gift0name" placeholder="Something..." onInput="this.parentNode.dataset.value = this.value" size="11">
    </label>
    -
    <label for="gift0note" class="input-sizer">
      <span class="screen-reader-text">Note</span>
      <input type="text" name="gifts[0][note]" id="gift0note" placeholder="Details..." onInput="this.parentNode.dataset.value = this.value" size="9">
    </label>
    -
    <label for="gift0link" class="input-sizer">
      <span class="screen-reader-text">Link</span>
      <input type="url" name="gifts[0][link]" id="gift0link" placeholder="Link" onInput="this.parentNode.dataset.value = this.value" size="4"> 
    </label>
  </div> 
</div>