<form class="new-gift" action="/groups/<%= group._id %>/gift-lists/<%= list._id %>" method="post">
  
  <div id="gifts-form">
    <div class="gift">
      <label class="input-sizer">
        <span>Add a gift &rarr;</span>
        <input type="text" name="gifts[0][name]" id="gift0name" placeholder="Something..." onInput="this.parentNode.dataset.value = this.value" size="10">
      </label>
      -
      <label for="gift0note" class="input-sizer">
        <span class="screen-reader-text">Note</span>
        <input type="text" name="gifts[0][note]" id="gift0note" placeholder="Details..." onInput="this.parentNode.dataset.value = this.value" size="7">
      </label>
      -
      <label for="gift0link" class="input-sizer">
        <span class="screen-reader-text">Link</span>
        <input type="url" name="gifts[0][link]" id="gift0link" placeholder="Link" onInput="this.parentNode.dataset.value = this.value" size="4"> 
      </label>
    </div> 
  </div>
  <div class="button-row">
    <span class="add" id="add-gift">Add another item</span>
    <button type="submit">Update my list</button>
  </div>
</form>

<script>
  let giftsForm = document.getElementById('gifts-form')
  let numGifts = 0
  document.getElementById('add-gift').addEventListener('click',function(){
    numGifts++
    let newGiftElem = document.createElement('div')
  
    newGiftElem.innerHTML = `
      <div class="gift">
        <label class="input-sizer">
          <span>Add a gift &rarr;</span>
          <input type="text" name="gifts[${numGifts}][name]" id="gift${numGifts}name" placeholder="Something..." onInput="this.parentNode.dataset.value = this.value" size="10">
        </label>
        -
        <label for="gift${numGifts}note" class="input-sizer">
          <span class="screen-reader-text">Note</span>
          <input type="text" name="gifts[${numGifts}][note]" id="gift${numGifts}note" placeholder="Details..." onInput="this.parentNode.dataset.value = this.value" size="7">
        </label>
        -
        <label for="gift${numGifts}link" class="input-sizer">
          <span class="screen-reader-text">Link</span>
          <input type="url" name="gifts[${numGifts}][link]" id="gift${numGifts}link" placeholder="Link" onInput="this.parentNode.dataset.value = this.value" size="4"> 
        </label>
      </div> `

    giftsForm.appendChild(newGiftElem)
  })

</script>