<div class="gift-list yours">
  <form action="/groups/<%= group._id %>/gift-list" method="post">

    <h2>Make a gift list</h2>

    <label for="desc">Description/Note</label>
    <textarea name="desc" id="desc" cols="30" rows="2"></textarea>

    <h4>Add something to it</h4>
    <%- include('../gifts/gifts-form') %> 
    
    <span class="add" id="add-gift">Add another item</span>

    <button type="submit">Lets go</button>
  </form>
</div>
<%- include('../gifts/gifts-script') %> 