<div class="gift-list yours">
  <form id="new-gift-list" action="/groups/<%= group._id %>/gift-list" method="post">

    <h2>Make a gift list</h2>

    <label for="desc" class="input-sizer stacked" data-value="A note about your list (optional)">
      <span>Description/Note:</span>
      <textarea name="desc" id="desc" oninput="this.parentNode.dataset.value = this.value" rows="1" placeholder="A note about your list (optional)"></textarea>
    </label>

    <h4>Add something to it</h4>
    <div id="gifts-form"></div>
    
    <span class="add" id="add-gift">Add another item</span>

    <button type="submit">Lets go</button>
  </form>
</div>